* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 70px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 100%; /* Ensures the image does not overflow */
    height: auto; /* Maintains the aspect ratio */
}

.image img {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

.content {
    flex: 1;
    margin-left: 20px;
}

.content p {
    font-size: 17px;
    line-height: 1.6;
}

.readmore {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease;
}

.readmore:hover {
    background-color: #ccbb25;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
    .image, .content {
        margin: 0;
        margin-bottom: 20px;
    }
    .title {
        font-size: 35px;
        margin-bottom: 50px;
    }
}