* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 100px;
    background-color: rgb(138, 53, 138);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-logo {
    height: 100px;
    width: 100px;
}

.logo {
    background-image: url("assets/logo.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-item p {
    margin-left: 5px;
}
.hero-section {
    background-image: url("AI.webp");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-left:825px;
    height: 600px;
    width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}